name: Continuous Delivery

on:
  push:
    branches:
      - main

# default: least privileged permissions across all jobs
permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-release-${{ github.ref_name }}
      cancel-in-progress: false

    permissions:
      contents: write

    steps:
      # Note: We checkout the repository at the branch that triggered the workflow
      # with the entire history to ensure to match PSR's release branch detection
      # and history evaluation.
      # However, we forcefully reset the branch to the workflow sha because it is
      # possible that the branch was updated while the workflow was running. This
      # prevents accidentally releasing un-evaluated changes.
      - name: Setup | Checkout Repository on Release Branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
          fetch-depth: 0
          ssh-key: ${{ secrets.CI_DEPLOY_SSH_KEY }}
          ssh-known-hosts: ${{ secrets.CI_DEPLOY_SSH_KNOWN_HOSTS }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Setup | Force release branch to be at workflow sha
        run: |
          git reset --hard ${{ github.sha }}
      - name: Evaluate | Verify upstream has NOT changed
        # Last chance to abort before causing an error as another PR/push was applied to
        # the upstream branch while this workflow was running. This is important
        # because we are committing a version change (--commit). You may omit this step
        # if you have 'commit: false' in your configuration.
        #
        # You may consider moving this to a repo script and call it from this step instead
        # of writing it in-line.
        shell: bash
        run: |
          set +o pipefail

          UPSTREAM_BRANCH_NAME="$(git status -sb | head -n 1 | cut -d' ' -f2 | grep -E '\.{3}' | cut -d'.' -f4)"
          printf '%s\n' "Upstream branch name: $UPSTREAM_BRANCH_NAME"

          set -o pipefail

          if [ -z "$UPSTREAM_BRANCH_NAME" ]; then
              printf >&2 '%s\n' "::error::Unable to determine upstream branch name!"
              exit 1
          fi

          git fetch "${UPSTREAM_BRANCH_NAME%%/*}"

          if ! UPSTREAM_SHA="$(git rev-parse "$UPSTREAM_BRANCH_NAME")"; then
              printf >&2 '%s\n' "::error::Unable to determine upstream branch sha!"
              exit 1
          fi

          HEAD_SHA="$(git rev-parse HEAD)"

          if [ "$HEAD_SHA" != "$UPSTREAM_SHA" ]; then
              printf >&2 '%s\n' "[HEAD SHA] $HEAD_SHA != $UPSTREAM_SHA [UPSTREAM SHA]"
              printf >&2 '%s\n' "::error::Upstream has changed, aborting release..."
              exit 1
          fi

          printf '%s\n' "Verified upstream branch has not changed, continuing with release..."

      - name: Semantic Version Release
        id: release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install python-semantic-release==9.* wheel build twine
          semantic-release --config ./ci/semantic_release.toml version
          if [ ! -d dist ]; then echo No release will be made; exit 0; fi
          twine upload dist/* -u __token__ -p ${{ secrets.CI_PYPI_TOKEN }} --skip-existing
          semantic-release publish

  build-and-push:
    name: Build and push requirements image
    runs-on: ubuntu-latest
    needs: release
    permissions:
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Setup tools
      run: sudo apt update && sudo apt install qemu-user-static

    - name: Get version
      id: version
      run: |
        git checkout main && git pull --tags
        [ -z $(git describe --tags) ] && echo "Must have a version tag!" && exit 1
        echo "setting version $(git describe --tags) as image tag" 
        echo "bec_version=$(git describe --tags)" >> $GITHUB_OUTPUT

    - name: Buildah build
      id: container-build
      uses: redhat-actions/buildah-build@v2
      with:
        image: bec_requirements
        tags: ${{ steps.version.outputs.bec_version }} ${{ github.sha }}
        containerfiles: |
          ./bec_server/bec_server/scan_server/procedures/Containerfile.requirements
        build-args: |
          BEC_VERSION=${{ steps.version.outputs.bec_version }}
        archs: amd64, aarch64
        extra-args: |
          -v ${{ github.workspace }}:/bec:ro
  
    - name: Push to registry
      id: container-push
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.container-build.outputs.image }}
        tags: ${{ steps.container-build.outputs.tags }}
        registry: ghcr.io/bec-project
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Print image url
      run: echo "Image pushed to ${{ steps.container-push.outputs.registry-paths }}"
